@font-face {
    font-family: 'Open Sans';
    src: url("https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url("https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff");
    font-weight: 700;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
}

.html {
    font-size: 100%;
}

.head,
.footer {
    /*width: 100%;*/
    padding-top: 32px;
    /*9.6vw;*/
    padding-bottom: 87px;
    /*26vw;*/
    padding-right: 6.8%;
    padding-left: 6.8%;
    background-image: url("https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/football_767.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #151537;
    background-position: center;
    position: relative;
}

.head::before,
.footer::before {
    content: "";
    background-color: #151537;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.8;
}

.logo,
.content,
.download {
    position: relative;
    z-index: 2;
}

.logo {
    margin-top: 66px;
}

.logo,
.download {
    text-align: center;
}

.svg {
    width: 42%;
    /*41%;*/
}

.path {
    fill: #ffffff;
}

.text {
    font-size: 3.5rem;
    letter-spacing: 1px;
    line-height: 62px;
    color: #ffffff;
    font-family: "Open Sans";
    font-weight: 700;
}

.recruited {
    align-self: flex-start;
    padding-top: 135px;
}

.recruited2 {
    padding-top: 32px;
    padding-bottom: 91px;
    padding-left: 5.6rem;
}

.download {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 89px;
}

.app-store {
    background-color: #5e42b0;
    border-radius: 80px;
    padding-top: 2.5vw;
    padding-bottom: 3.2vw;
    margin-top: 4.3vw;
}

.apple {
    width: 3.75rem;
    height: 3.75rem;
    fill: #ffffff;
}

.store {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.but {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 1rem;
}

.text-but {
    font-size: 2.5vw;
    letter-spacing: 0px;
    color: #ffffff;
    font-family: "Open Sans";
    font-weight: 400;
    text-transform: uppercase;
}

.text2 {
    font-weight: 700;
}


/**************/

.althlet,
.composition {
    font-family: "Open Sans";
    font-weight: 700;
    text-transform: uppercase;
}

.section {
    width: 100%;
    /*   padding-left: 6.25%;
    padding-right: 6.25%;*/
    position: relative;
}

.sections::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/footballer_192.png");
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center 5%;
}

.players::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/basketballer_302.png");
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center 5%;
}

.althlet {
    font-size: 6.3rem;
    line-height: 60px;
    color: #e7e7e7;
}

.nomer {
    display: inline-block;
    vertical-align: text-bottom;
    font-size: 1.8rem;
    border-radius: 0.1rem;
    border-bottom: #5e42b0 solid 0.5rem;
    font-weight: 700;
    font-family: "Open Sans";
}

.composition {
    display: inline-block;
    font-size: 2.8rem;
    letter-spacing: 0.1rem;
    line-height: 4.25rem;
    color: #c1c1c1;
    margin-left: 1.6rem;
}

.content {
    font-size: 0.7rem;
    letter-spacing: 0.2rem;
    line-height: 2.25rem;
    color: #000000;
    font-family: "Open Sans";
    font-weight: 400;
    margin-right: 6.25%;
    margin-top: 7vw;
    padding-bottom: 7.5rem;
}

.althlets {
    height: 39rem;
}

.connection {
    /*  height: 26.6rem;*/
    background-color: #fafafa;
}

.collaboration {
    /*  height: 26.6rem;*/
    background-color: #f5f4f9;
    position: relative;
    z-index: 1;
}

.growth {
    background-color: #5e42b0;
}

.text_padding {
    margin-left: 6.25%;
}

.growth_03 {
    color: #ffffff;
    border-color: #ffffff;
}

.img {
    width: 100%;
}

.section_old {
    position: relative;
}

.img_nomer {
    /*content: "01";*/
    position: absolute;
    top: 58%;
    left: 7%;
    right: 0;
    bottom: 0;
    background-color: #5e42b0;
    width: 22.9%;
    height: 14.5%;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration-line: underline;
}

.worc {
    padding-left: 4.8%;
}

.footer {
    background-image: url("https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/game_767.jpg");
}

.logo_footer {
    width: 22.9%;
    background-color: #5e42b0;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
}

.text_footer {
    text-transform: uppercase;
}

.h3_footer {
    position: relative;
    z-index: 2;
    color: #ffff;
    text-align: center;
}